.tableschedule{
  margin: auto;
  margin-left: 100px;
  margin-top: 100px;
}
.tableschedule table, .tableschedule th, .tableschedule td{
    border: 1px solid black;
}
.staffschedulecontainer{
    display: flex;
    border-top: 1px solid black;
}