.dpu_box button{
    margin: 50px;
}
img{
width: 350px;
height: 300px;
}
.pagination{

  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: fit-content;
}
.servicenamecontainer1{
  text-align: center;
}