.staffaccountselect1{
    width: 200px;
    height: 30px;
}
.staffaccountselect2{
    width: 200px;
    height: 30px;
    margin-left: 20px;
}
.staffaccountselect3{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}
.login-page h2{
    text-align: center;
}