.filter_menu{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    border-top: 1px solid grey;
    padding: 15px 0; 
}
.filterservice{
    width: 40%;
    
}
.filterservice h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.searchservice{
    width: 60%;
}
.searchinput{
    width: 550px;
}
.buttonsearch{
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(64, 170, 240);
    color: rgb(247, 238, 228);
}
.buttonsearch:hover{
    background-color: rgb(25, 159, 248);
    color: rgb(250, 220, 187);
    
}
.buttonsearch:active{
    background-color: rgb(15, 139, 221);
    color: rgb(250, 220, 187);
    
}