.contactContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 230px;
    margin-left: 5px;
  }
  .contacttable1 th, .contacttable1 td{
      padding: 1em;
      background: #c0d7ec;
      border-bottom: 2px solid white; 
  }
  .infoContact {
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    /* position: sticky; */
    top: 10px;
    height: max-content;
    /* width: 200px; */
  }
  
  .contactTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }

  .contactItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .lsItem>label{
    font-size: 12px;
  }
  
  .lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: 10px;
  }
  
  .contactListItem{
    /* display: flex; */
    display: block;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  
  .contactInput{
    width: 150px;
    height: 30px;
  }
  
  .infoContact>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 80%;
    font-weight: 500;
    cursor: pointer;

  }
  
  .listResult {
    flex: 3;
  }