.footercontainer {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerttile{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}
.contactme{
    color: white;
    text-align: center;
}